  /* Styles go here */
  
  /* Sticky footer styles
  -------------------------------------------------- */
  
  html,
  body {
    height: 100%;
   
    /* The html and body elements cannot have any padding or margin. */
  }
  
  /* Wrapper for page content to push down footer */
  #wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
  }
  
  /* Set the fixed height of the footer here */
  #footer {
    height: 60px;
    background-color: #D3D7DA;
    font-family: Ubuntu;
  }
  
  
  /* Custom page CSS
  -------------------------------------------------- */
  /*margin in footer text*/
  
  .container .credit {
    margin: 20px 0;
  }


@font-face {
  font-family: Lobster;

  src: url('../fonts/lobster.otf');
 }


@font-face {
  font-family: Ubuntu;

  src: url('../fonts/Ubuntu-L.ttf');
 }


 .logo {

  font-family: Lobster;
  font-size: 100px;
 }
  


 .page-header{

  font-family: Lobster;
  font-size: 60px;
  
 }



 #dataTable .jqx-grid-cell-pinned, #dataTable .jqx-grid-column-header
    {
        background-color: Teal;
    }